name: Java CI (Maven)

on:
  pull_request:
  push:
    branches:
      - main
  release:
    types:
      - created

jobs:
  build:
    name: Build

    runs-on: ubuntu-latest

    strategy:
      matrix:
        java-version: ['17']

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK ${{ matrix.java-version }}
      uses: actions/setup-java@v5
      with:
        java-version: ${{ matrix.java-version }}
        distribution: 'temurin'
    - name: Build
      run: ./mvnw install -DskipTests=true -Dcheckstyle.skip=true -Dmaven.javadoc.skip=true -B -V
      env:
        CI: true

  test:
    name: Tests

    runs-on: ubuntu-latest

    strategy:
      matrix:
        java-version: ['17']

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK ${{ matrix.java-version }}
      uses: actions/setup-java@v5
      with:
        java-version: ${{ matrix.java-version }}
        distribution: 'temurin'
    - name: Test
      run: ./mvnw test -B
      env:
        CI: true

  checkstyle:
    name: Checkstyle Audit

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: 17
        distribution: 'temurin'
    - name: Checkstyle
      run: ./mvnw verify -DskipTests=true -Dmaven.javadoc.skip=true -B
      env:
        CI: true

  javadoc:
    name: JavaDoc Generation

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: 17
        distribution: 'temurin'
    - name: Generate JavaDoc
      run: ./mvnw verify -DskipTests=true -Dcheckstyle.skip=true -B
      env:
        CI: true
